<section class="page-title page-title-overlay bg-cover" data-background=http://demo.themefisher.com/agico-hugo />
<div class=container>
    <div class=row>
        <div class=col-lg-7>
            <h1 class="text-white position-relative">Contact<span class=watermark-sm>Contact</span></h1>
            <p class="text-white pt-4 pb-4">this is meta description</p>
        </div>
        <div class="col-lg-3 ml-auto align-self-end">
            <nav class="position-relative zindex-1" aria-label=breadcrumb>
                <ol class="breadcrumb justify-content-end bg-transparent">
                    <li class=breadcrumb-item><a href='/' class=text-white>Home</a></li>
                    <li class="breadcrumb-item text-white" aria-current=page>Contact</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
</section>
<section class=section>
    <div class=container>
        <div class="row justify-content-between">
            <div class="col-lg-7 rounded-xs mobile-height mb-5 mb-lg-0" id=map_canvas data-latitude=51.5223477
                data-longitude=-0.1622023 data-marker=http://demo.themefisher.com/agico-hugo/images/marker.png
                data-marker-label=Agico data-zoom=17></div>
            <div class=col-lg-4>
                <div class="p-5 rounded-xs shadow">
                    <h3 class="text-dark border-bottom mb-5 pb-4">Keep In Touch</h3>
                    <ul class=list-unstyled>
                        <li class="d-flex mb-4" data-ddj=fade-up data-ddj-delay=100><i
                                class="fa fa-phone icon-primary"></i>
                            <div class=pl-3>
                                <h6 class=text-dark>Mobile</h6>
                                <p>+211234565523</p>
                            </div>
                        </li>
                        <li class="d-flex mb-4" data-ddj=fade-up data-ddj-delay=100><i
                                class="fa fa-envelope-o icon-primary"></i>
                            <div class=pl-3>
                                <h6 class=text-dark>Email</h6>
                                <p><a href=mailto:info@agico.com>info@agico.com</a></p>
                            </div>
                        </li>
                        <li class="d-flex mb-4" data-ddj=fade-up data-ddj-delay=100><i
                                class="fa fa-map-o icon-primary"></i>
                            <div class=pl-3>
                                <h6 class=text-dark>Address</h6>
                                <p>9567 Turner Trace Apt. 466 North Willie, BC C3G8A4</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg-bottom bg-light">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <p class=subtitle>Message</p>
                <h2 class=section-title>Leave A Message</h2>
            </div>
            <div class="col-lg-12 text-center p-0">
                <form action=# method=post class=row>
                    <div class=col-lg-6><input type=text class="form-control mb-4" placeholder="Your email"></div>
                    <div class=col-lg-6><input type=text class="form-control mb-4" placeholder="Your Name"></div>
                    <div class=col-lg-12><input type=text class="form-control mb-4" placeholder=Subject></div>
                    <div class=col-lg-12><textarea name=message class="form-control mb-4"
                            placeholder=Message></textarea></div>
                    <div class=col-12><button type=submit class="btn btn-primary">Submit Now</button></div>
                </form>
            </div>
        </div>
    </div>
</section>