<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <system.webServer>

        <!-- indicates that the hello.js file is a node.js application 
    to be handled by the iisnode module -->

        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>

        <!-- use URL rewriting to redirect the entire branch of the URL namespace
    to hello.js node.js application; for example, the following URLs will 
    all be handled by hello.js:
    
        http://localhost/node/urlrewrite/myapp
        http://localhost/node/urlrewrite/myapp/foo
        http://localhost/node/urlrewrite/myapp/foo/bar/baz?param=bat
         
    -->

        <rewrite>
            <rules>
                <rule name="onxcy">
                    <match url="/*" />
                    <action type="Rewrite" url="index.js" appendQueryString="false" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>

    </system.webServer>
</configuration>