<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="onxcy">
                    <match url="/*" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="index.js" appendQueryString="true" logRewrittenUrl="true" />
                </rule>
                <!-- <rule name="redirect">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Rewrite" url="https://www.onxcy.com/{R:1}" logRewrittenUrl="true" />
                </rule> -->
            </rules>
        </rewrite>
    </system.webServer>
</configuration>