<section class="page-title page-title-overlay bg-cover">
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">Find Job<span class=watermark-sm>Find</span></h1>
                <p class="text-white pt-4 pb-4">Looking for a job upload Your resume here</p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href='/' class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg-bottom bg-light">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <p class=subtitle>Upload Your Resume Here</p>
                <h3 class=section-title id="section-title">Step 1</h3>
            </div>
            <div class="col-lg-12 text-center p-0">
                <form method='POST' class='row' id="entry_form">
                    <div class='col-lg-4 ' id="email-box">
                        <input type="email" id="nxc-email" name="email" class="form-control mb-4" placeholder="Email"
                            required>
                    </div>
                    <div class='col-lg-4 ' id="mobile-box">
                        <input pattern="^[6-9][0-9]+$" type="tel" name="mobile" class="form-control mb-4"
                            placeholder="Mobile" minlength="10" maxlength="10" title="10 digit mobile Number" required>
                    </div>
                    <div class='col-lg-4 ' id="btn-box">
                        <button type=submit class="btn btn-primary" id="send_email">Submit Now</button>
                    </div>
                </form>
                <form method='POST' class='row' id="otp_form" style="display: none;">
                    <div class="col-lg-7 col-md-7 mx-auto">
                        <div class="alert alert-success fade show d-none" id="otp_alert" role="alert">
                            <span id="otp_alert_text"></span>
                        </div>
                    </div>
                    <div class='col-lg-7 col-md-7 mx-auto'>
                        <input type="tel" name="otp" class="form-control mb-4" maxlength="6" minlength="6"
                            placeholder="Enter OTP" required>
                    </div>
                    <div class='col-lg-7 col-md-7 mx-auto'>
                        <button type=submit class="btn btn-primary" id="send_email">Submit Now</button>
                    </div>
                </form>
                <div class="row common_input" style="display: none;">
                    <div class="col-lg-4 mb-4 form-inline justify-content-around">
                        <label for="apply_for">Apply for : </label>
                        <label class="form-control pt-2" for="apply_for">
                            <select class="custom-select border-0" name="" id="apply_for" required>
                                <option selected value="0">Select</option>
                                <option value="1">Internship</option>
                                <option value="2">Job</option>
                                <option value="3">Freelancing</option>
                                <option value="2,3">Job or <strong>Freelancing</strong> both</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-4 mb-4 form-inline justify-content-around">
                        <label for="iam_type">I Am : </label>
                        <label class="form-control pt-2" for="iam_type">
                            <select class="custom-select border-0" name="" id="iam_type" required>
                                <option selected value="0">Select</option>
                                <option value="1">Fresher</option>
                                <option value="2">Experience</option>
                            </select required>
                        </label>
                    </div>
                    <div class="col-lg-4 mb-4 form-inline justify-content-around">
                        <label for="gender">Gender : </label>
                        <label class="form-control pt-2" for="gender">
                            <select class="custom-select border-0" name="" id="gender" required>
                                <option selected value="0">Select</option>
                                <option value="m">Male</option>
                                <option value="f">Female</option>
                                <option value="O">Other</option>
                            </select>
                        </label>
                    </div>
                </div>
                <form class='row' id="internship_form" style="display: none;" method="POST"
                    enctype="multipart/form-data">
                    <!-- start intershuip input fields -->

                    <div class='col-lg-4 college_name'>
                        <input type=text name="college_name" class="form-control mb-4" placeholder="College Name"
                            required>
                    </div>
                    <div class='col-lg-4 course'>
                        <input type=text name="course" class="form-control mb-4" placeholder="course" required>
                    </div>
                    <div class="col-lg-4 mb-4 form-inline justify-content-around insternship_time">
                        <label for="insternship_time">In : </label>
                        <label class="form-control pt-2" for="insternship_time">
                            <select class="custom-select border-0" name="insternship_time" id="insternship_time"
                                aria-placeholder="Apply for">
                                <option selected value="0">Anytime</option>
                                <option value="1">Summers</option>
                                <option value="2">Winters</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-lg-4 mb-4 form-inline justify-content-around insternship_type">
                        <label for="insternship_type">Internship type : </label>
                        <label class="form-control pt-2" for="insternship_type">
                            <select class="custom-select border-0" name="insternship_type" id="insternship_type">
                                <option selected value="0">Any</option>
                                <option value="1">Paid</option>
                                <option value="2">Unpaid</option>
                            </select>
                        </label>
                    </div>

                    <div class="col-lg-4 mb-4 form-inline justify-content-around insternship_from">
                        <label for="insternship_from">Insternship From : </label>
                        <label class="form-control pt-2" for="insternship_from">
                            <select class="custom-select border-0" name="insternship_from" id="insternship_from">
                                <option selected value="0">Select</option>
                                <option value="1">Regular </option>
                                <option value="2">Distance</option>
                            </select>
                        </label>
                    </div>
                    <div class='col-lg-4 xcompany'>
                        <input type=text name="xcompany" class="form-control mb-4" placeholder="Current Company"
                            required>
                    </div>
                    <div class='col-lg-4 current_designation'>
                        <input type=text name="current_designation" class="form-control mb-4"
                            placeholder="Current Designation" required>
                    </div>
                    <div class='col-lg-4 current_location'>
                        <input type='text ' name="current_location" class="form-control mb-4"
                            placeholder="Current Location" required />
                    </div>

                    <div class="col-lg-4 mb-4 form-inline justify-content-around experience" title="Experie">
                        <label for="experience">Exp : </label>
                        <label class="form-control pt-2" for="experience">
                            <select class="custom-select border-0 w-auto experience_y" name="experience"
                                id="experience_y">
                            </select>
                            <select class="custom-select border-0 w-auto experience_m" name="experience"
                                id="experience_m">
                            </select>
                        </label>

                    </div>
                    <div class='col-lg-4 experience_in'>
                        <input type=text name="experience_in" class="form-control mb-4"
                            placeholder="Field of experience">
                    </div>

                    <!-- old things -->
                    <div class='col-lg-4 expected_role'>
                        <input type=text name="expected_role" class="form-control mb-4" placeholder="Expected Role"
                            required>
                    </div>
                    <div class='col-lg-4 department'>
                        <input type=text name="department" class="form-control mb-4" placeholder="Department" required>
                    </div>
                    <div class='col-lg-4 skills'>
                        <input type=text name="skills" class="form-control mb-4" placeholder="Skills" required>
                    </div>

                    <!-- curett things -->

                    <div class='col-lg-4 expected_location'>
                        <input type=text name="expected_location" class="form-control mb-4"
                            placeholder="Expected Location" required>
                    </div>
                    <div class='col-lg-4 custom-control file'>
                        <input type="file" style="padding-top: 15px;" class="form-control mb-4" name="file" required
                            accept=".docx,.rtf,.pdf,doc," />
                    </div>
                    <div class='col-lg-12 upload_resume'>
                        <button type='submit' class="btn btn-primary" id="upload_resume">Submit Now</button>
                    </div>
                </form>
                <form class='row' id="job_form" style="display: none;" method="POST" enctype="multipart/form-data">
                    <div class='col-lg-12 currently_working'>
                        <div class="custom-control custom-radio custom-control-inline mb-4">
                            <Label>Are you currently working?</Label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline mb-4">
                            <input type="radio" id="yes" value="1" name="currently_working" class="custom-control-input"
                                required>
                            <label class="custom-control-label" for="yes">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline mb-4">
                            <input type="radio" id="no" value="0" name="currently_working" class="custom-control-input"
                                required>
                            <label class="custom-control-label" for="no">No</label>
                        </div>
                    </div>


                    <!-- start intershuip input fields -->

                    <!-- old things -->
                    <div class='col-lg-4 xcompany'>
                        <input type=text name="xcompany" class="form-control mb-4" placeholder="Current Company"
                            required>
                    </div>
                    <!-- curett things -->
                    <div class='col-lg-4 current_designation'>
                        <input type=text name="current_designation" class="form-control mb-4"
                            placeholder="Current Designation" required>
                    </div>
                    <div class='col-lg-4 current_ctc'>
                        <input type="tel" name="current_ctc" class="form-control mb-4" placeholder="Current CTC (LPA)"
                            required>
                    </div>
                    <div class='col-lg-4 current_location'>
                        <input type='text ' name="current_location" class="form-control mb-4"
                            placeholder="Current Location" required />
                    </div>
                    <div class='col-lg-4 expected_role'>
                        <input type=text name="expected_role" class="form-control mb-4" placeholder="Expected Role"
                            required>
                    </div>
                    <div class='col-lg-4 department'>
                        <input type=text name="department" class="form-control mb-4" placeholder="Department" required>
                    </div>
                    <div class='col-lg-4 skills'>
                        <input type=text name="skills" class="form-control mb-4" placeholder="Skills" required>
                    </div>
                    <div class='col-lg-4 expected_ctc'>
                        <input type="tel" name="expected_ctc" class="form-control mb-4"
                            placeholder="Expected CTC (LPA)">
                    </div>

                    <div class="col-lg-4 mb-4 form-inline justify-content-around experience" title="Experience">
                        <label for="experience" title="Experience">Exp. : </label>
                        <label class="form-control pt-2" for="experience">
                            <select class="custom-select border-0 w-auto experience_y" name="experience"
                                id="experience_y">
                            </select>
                            <select class="custom-select border-0 w-auto experience_m" name="experience"
                                id="experience_m">
                            </select>
                        </label>
                    </div>
                    <div class='col-lg-4 experience_in'>
                        <input type=text name="experience_in" class="form-control mb-4"
                            placeholder="Field of experience" required>
                    </div>

                    <div class='col-lg-4 expected_location'>
                        <input type=text name="expected_location" class="form-control mb-4"
                            placeholder="Expected Location" required>
                    </div>
                    <div class='col-lg-4 custom-control file'>
                        <input type="file" style="padding-top: 15px;" class="form-control mb-4" name="file" required
                            accept=".docx,.rtf,.pdf,doc," />
                    </div>
                    <div class='col-lg-12 upload_resume'>
                        <button type='submit' class="btn btn-primary" id="upload_job">Submit Now</button>
                    </div>
                </form>
                <form class='row' id="freelance_form" style="display: none;" method="POST"
                    enctype="multipart/form-data">

                    <div class='col-lg-4 expected_role'>
                        <input type=text name="expected_role" class="form-control mb-4" placeholder="Expected Role"
                            required>
                    </div>
                    <div class='col-lg-4 current_location'>
                        <input type='text ' name="current_location" class="form-control mb-4"
                            placeholder="Current Location" required />
                    </div>

                    <div class='col-lg-4 skills'>
                        <input type=text name="skills" class="form-control mb-4" placeholder="Skills" required>
                    </div>

                    <div class='col-lg-4 custom-control file'>
                        <input type="file" style="padding-top: 15px;" class="form-control mb-4" name="file" required
                            accept=".docx,.rtf,.pdf,doc," />
                    </div>
                    <div class='col-lg-12 upload_resume'>
                        <button type='submit' class="btn btn-primary" id="upload_resume">Submit Now</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
<script defer>
    var apply_for;
    var iam_type;
    function customAlert(code, message) {
        if (code == 200) {
            var icon = 'success'
        } else {
            var icon = 'error'
        }
        swal({
            text: message,
            icon: icon,
            button: false,
            timer: 1000
        })
    }

    function _showSelected(option) {
        $('#internship_form, #job_form, #freelance_form').hide();
        switch (option) {
            case '0':
                break;
            case '1':
                $('#internship_form').show();
                break;
            case '2':
                $('#job_form').show();
                break;
            case '3':
                $('#freelance_form').show();
                break;
            default:
                customAlert(100, "Coming Soon");
                break;
        }
        _showSelectedType(iam_type);
    }
    function _showSelectedType(option) {
        $('.xcompany, .experience, .experience_in, .currently_working, .current_designation, .current_ctc').hide();
        $('input[name=xcompany],input[name=experience_in],input[name=current_designation],input[name=currently_working],input[name=current_designation],input[name=current_ctc]').attr('required', false);
        if (apply_for == 1) {
            switch (option) {
                case '0':
                    break;
                case '1':
                    $('#internship_form').find('input[name=xcompany],input[name=current_designation]').attr('required', false);
                    break;
                case '2':
                    $('#internship_form').find('.xcompany, .experience, .experience_in,.current_designation').show();
                    $('#internship_form').find('input[name=xcompany],input[name=current_designation]').attr('required', true);
                    break;
            }
        } else if (apply_for == 2) {
            switch (option) {
                case '0':
                    break;
                case '1':
                    $('#job_form').find('input[name=xcompany],input[name=experience_in],input[name=current_designation],input[name=currently_working],input[name=current_ctc]').attr('required', false);
                    break;
                case '2':
                    $('#job_form').find('.xcompany, .experience, .experience_in, .currently_working, .current_designation, .current_ctc, .expected_ctc').show();
                    $('#job_form').find('input[name=xcompany],input[name=experience_in],input[name=current_designation],input[name=currently_working],input[name=current_ctc],input[name=expected_ctc]').attr('required', true);
                    break;
            }
        }

    }
    document.body.onload = function () {
        $('body,html').animate({ scrollTop: 400 }, 1000);
        $('#iam_type').prop('selectedIndex', 0);
        $('#apply_for').prop('selectedIndex', 0);
        iam_type = $('#iam_type').val();
        apply_for = $('#apply_for').val();
        _showSelectedType(iam_type)
        _showSelected(apply_for);
        for (let i = 0; i <= 20; i++) {
            $('.experience_y').append(`<option value="${i}">${i} Years</option>`)
        }
        for (let i = 0; i < 12; i++) {
            $('.experience_m').append(`<option value="${i}">${i} Months</option>`)
        }
        // on change event
        $('#apply_for').change(function () {
            apply_for = $(this).val();
            _showSelected(apply_for);
        });

        // setect im type event
        $('#iam_type').change(function () {
            iam_type = $(this).val();
            _showSelectedType(iam_type);
        });

        $('input[name=currently_working]').change(function () {
            if ($(this).val() == 0) {
                $('#job_form').find('input[name=xcompany]').attr('placeholder', 'Last Company');
                $('#job_form').find('input[name=current_designation]').attr('placeholder', 'Last Designation');
                $('#job_form').find('input[name=current_ctc]').attr('placeholder', 'Last Salary (CTC)');
            } else if ($(this).val() == 1) {
                $('#job_form').find('input[name=xcompany]').attr('placeholder', 'Current Company');
                $('#job_form').find('input[name=current_designation]').attr('placeholder', 'Current Designation');
                $('#job_form').find('input[name=current_ctc]').attr('placeholder', 'Current Salary (CTC)');
            }
        })

        $('#entry_form').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();
            let data = $(this).serializeArray();
            data.push({ name: 'step', value: 1 });
            $.ajax({
                type: 'POST',
                url: 'resume',
                data: data,
                beforeSend: function () {
                    $('.preloader').show();
                },
                complete: function () {
                    $('.preloader').hide();
                },
                success: function (result) {
                    if (result.status == 200) {
                        customAlert(result.status, result.message);
                        $('#otp_alert_text').text(result.message);
                        $('#otp_alert').addClass('d-block');
                        step122();
                    } else customAlert(result.status, result.message);
                },
                error: function (error) {
                }
            });
        });

        $('#otp_form').submit(function (event) {
            event.preventDefault();
            event.stopPropagation();
            let data = $(this).serializeArray();
            data.push({ name: 'step', value: 2 });
            data.push({ name: 'email', value: $('#nxc-email').val() })
            $.ajax({
                type: 'POST',
                url: 'resume',
                data: data,
                beforeSend: function () {
                    $('.preloader').show();
                },
                complete: function () {
                    $('.preloader').hide();
                },
                success: function (result) {
                    customAlert(result.status, result.message);
                    if (result.status == 200) {
                        step223();
                    } else {
                        $('#otp_alert_text').text(result.message);
                        $('#otp_alert').addClass('d-block alert-danger');
                    }

                },
                error: function (error) {
                    customAlert(error.status, error.message);
                }
            });
        });

        $('#internship_form, #job_form, #freelance_form').submit(function (e) {
            e.preventDefault();
            e.stopPropagation();
            let data = $(this);
            var formdata = new FormData(data[0])
            formdata.append('step', 3);
            formdata.append('email', $('#nxc-email').val());
            formdata.append('gender', $('#gender').val());
            formdata.append('apply_for', apply_for);
            formdata.append('iam_type', iam_type);
            $.ajax({
                type: 'POST',
                url: 'resume',
                data: formdata,
                processData: false,
                contentType: false,
                beforeSend: function () {
                    $('.preloader').show();
                },
                complete: function () {
                    $('.preloader').hide();
                },
                success: function (result) {
                    if (result.status == 200) {
                        customAlert(result.status, result.message);
                        step321();
                    } else customAlert(result.status, result.message);
                },
                error: function (error) {
                    customAlert(error.status, error.message);
                }
            });
        });

        function step122() {
            $('#section-title').text("Step 2")
            $('#entry_form').hide();
            $('#otp_form').show();
        }
        function step223() {
            $('#section-title').text("Step 2 Finish Now")
            $('#otp_form').hide();
            $('.common_input').show();
        }
        function step321() {
            $('#section-title').text("Step 1 ")
            $('.common_input, #internship_form, #job_form, #otp_form, #freelance_form').hide();
            $('#entry_form').show();
            $('#entry_form, #internship_form, #job_form, #otp_form, #freelance_form').trigger('reset');
            $('#iam_type').prop('selectedIndex', 0);
            $('#apply_for').prop('selectedIndex', 0);
        }

    }
</script>