<section class="hero-area bg-cover" data-background='public/images/banner/banner.png'>

    <div class=container>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 pl-lg-0 text-center text-lg-left">
                <h1 class="text-white position-relative" data-ddj=fade-up data-ddj-delay=1000>Professional Experience
                    Platform
                    <span class=watermark>#1</span></h1>
                <p class="text-white pt-2 pb-3" data-ddj=fade-up data-ddj-delay=1200>Compensation & Compliance
                    management for all workforce!</p>
                <a href='/contact' class="btn btn-primary" data-ddj=fade-up data-ddj-delay=1400>Get
                    Started</a>
            </div>
            <div class="col-lg-5 pl-lg-0 pt-5 pt-lg-0 text-lg-right text-center">
                <img src='public/images/banner/banner-1.png' class=img-fluid alt=illustration data-ddj=zoom-in
                    data-ddj-delay=1500></div>
        </div>
    </div>
</section>
<section class="section">
    <div class=container>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>exclusive features</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 py-auto" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-target-100.png" alt="Hiring" srcset="">
                        <h4 class=mb-3>Hiring</h4>
                        <p> Make your recruitment process fast and easy through the use of our recruitment software.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=0>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-gears icon-lg icon-yellow icon-bg-square mb-5"></i>
                        <h4 class=mb-3>Employee Data Managment</h4>
                        <p>we will manage All employee data with our modren software</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 " data-ddj=fade-up data-ddj-delay=100>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="" srcset="">
                        <h4 class=mb-3>Time & Attendance</h4>
                        <p>Experience one of the most robust time and attendance management system with real-time
                            Biometric and GPS Integration</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-process-100.png" alt="payroll" srcset="">
                        <h4 class=mb-3>Payroll Management</h4>
                        <br>
                        <p>Automated payroll solutions for growing large & medium scale industries as well as for SMEs
                            and start-ups. Redefine your payroll, manage employee benefits and operations with Onxcy's
                            payroll automation services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-tasks icon-lg icon-bg-square mb-5 icon-green"></i>
                        <h4 class=mb-3>Compliance Management</h4>
                        <p>Ignorance is not an excuse. With the expansion of an organization, has made it difficult to
                            track, monitor & process compliance. Onxcy Compliance Management service landscape includes
                            an overall view of your compliances & acts as a risk mirror for your organization.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 py-auto" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-users icon-lg icon-bg-square mb-5 icon-purple"></i>
                        <h4 class=mb-3>Outsourcing Managment</h4>
                        <br>
                        <p> To gain competencies as dictated by the needs of your business. That will help your company
                            to alter speed as the pace of your senior management requirements but without the burden of
                            all the overhead costs.
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- <section class="section bg-shape-triangles">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up>testimonial</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>What Our Clients Says?</h2>
            </div>
        </div>
        <div class="row testimonial-slider" data-ddj=fade-up data-ddj-delay=200>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="section bg-light">
    <div class=container>
        <div class=row>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=10000>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Total CV Upload tlil date</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=200>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Resume Uploaded per day</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=2000>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Totally recruitors users</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=80>0</span>%+</p>
                <h6 class="text-dark font-weight-normal">User statisfatio Ratio</h6>
            </div>
        </div>
    </div>
</section>
<section class="section bg-triangles bg-gradient-primary">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <h2 class='section-title text-white' data-ddj=fade-up data-ddj-delay=200>Why Shift to Onxcy</h2>

                <p class='subtitle text-white' data-ddj=fade-up>
                    Modren Solutions builts for new-age organizations</p>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=500>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4 text-center">
                            <img src="public/Icons/icons8-todo-list-100.png" alt="Information Security">

                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Information Security</h4>
                        </div>
                        <div class="col-12 text-justify">
                            <p>
                                Our data is hosted over Amazon Web services, stored in highly secure, PCI DSS
                                compliant data centers.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=0>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4  text-center">
                            <img src="public/Icons/icons8-notification-100.png" alt="Mobility in true Sense">
                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Mobility in true Sense</h4>
                        </div>
                        <div class="col-12 text-justify">
                            <p>Discover new ways to manage your employees with Web & Mobile App based cloud HRMS and
                                ESS
                                for
                                staying connected on the go!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=100>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4  text-center">
                            <img src="public/Icons/icons8-schedule-100.png" alt="Time and timesheet">
                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Time and Timesheets</h4>

                        </div>
                        <div class="col-12 text-justify">
                            <p>Get complete control on Attendance and Work at your organization. Configure Shifts
                                with Attendance hours and set Tasks with time & Geo Stamps</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4  text-center">
                            <img src="public/Icons/icons8-survey-100.png" alt="">
                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Compliant Payroll Software
                            </h4>

                        </div>
                        <div class="col-12 text-justify">
                            <p>Experience one of the most compliant payroll software with one of the easiest Salary
                                Structuring, Configuration and Salary Slip generation process, ever.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=300>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4  text-center">
                            <img src="public/Icons/icons8-reset-100.png" alt="Automated and Automated">
                        </div>
                        <div class="col-6">
                            <h4 class="mt-4 mb-3">Automated Payouts</h4>

                        </div>
                        <div class="col-12 text-justify">
                            <p>
                                Transfer Salaries directly to your employees’ bank accounts or UPI addresses at the
                                time of generating salary slips from Payroll Software itself.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=400>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4  text-center">
                            <img src="public/Icons/icons8-todo-list-100.png" alt="Advanced Analytics">

                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Advanced Analytics</h4>

                        </div>
                        <div class="col-12 text-justify">
                            <p>
                                With Onxcy Hr Advance analytics, make informed HR decisions with macro view
                                of your organization. Get to know your hiring trends, attrition trends, client vs
                                cost trend and more.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=700>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4  text-center">
                            <img src="public/Icons/icons8-business-100.png" alt="Reimbursement Management">
                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Reimbursement Management</h4>

                        </div>
                        <div class="col-12 text-justify">
                            <br>
                            <p>
                                With the Onxcy HR Platform, Reimbursement will more efficiently be performed by
                                uploading bills & other required documents.
                            </p>
                            <br>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=600>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4 text-center">
                            <img src="public/Icons/icons8-work-100.png" alt="Onboarding & Exit Process">

                        </div>
                        <div class="col-md-9 text-md-left text-center">
                            <h4 class="mt-4 mb-3">Onboarding & Exit Process</h4>

                        </div>
                        <div class="col-12 text-justify">
                            <p>
                                With the Onxcy HR platform, this will easier to perform formalities of new joiners & FNF
                                cases. Related persons will get to know about the status of that process and can easily
                                get or share the required documents from there.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section class="section section-lg-bottom">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center"></div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4 py-auto" data-ddj=fade-up data-ddj-delay=0>
                <div
                    class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
                    <span
                        class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Basic</span>
                    <div class="h1 text-dark">₹50<span class="paragraph text-lowercase"> / month per employee</span>
                    </div>
                    <h5 class="mb-4 font-weight-normal text-color">Best for small start-ups</h5>
                    <hr>
                    <ul class="list-unstyled my-4">
                        <li class=my-3> Employee Management
                        </li>
                        <li class=my-3>Time & Attendance
                        </li>
                        <li class=my-3>Leave Management
                        </li>
                        <li class=my-3> Shift Management
                        </li>
                        <li class=my-3>
                            Payroll Management
                        </li>
                        <li class=my-3>
                            Employee Self Service
                        </li>
                    </ul>
                    <a href=/contact class="btn btn-outline-primary">Select Plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div
                    class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
                    <span
                        class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Standard</span>
                    <div class="h1 text-dark">₹100<span class="paragraph text-lowercase">/ month per employee</span>
                    </div>
                    <h5 class="mb-4 font-weight-normal text-color">Best for small business</h5>
                    <hr>
                    <ul class="list-unstyled my-4">
                        <li class=my-3> All Basic Features
                        </li>
                        <li class=my-3>
                            +
                        </li>
                        <li class=my-3>
                            Workflow Management

                        </li>
                        <li class=my-3> Travel & Expense

                        </li>
                        <li class=my-3>
                            Task management
                        </li>
                        <li class=my-3>
                            Asset Management
                        </li>
                        <li class=my-3>
                            Polls & Announcements
                        </li>

                    </ul>
                    <a href=/contact class="btn btn-outline-primary">Select Plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-ddj=fade-up data-ddj-delay=400>
                <div
                    class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
                    <span
                        class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Enterprise</span>
                    <div class="h1 text-dark">₹150<span class="paragraph text-lowercase"> / month per employee</span>
                    </div>
                    <h5 class="mb-4 font-weight-normal text-color">Best for small companies</h5>
                    <hr>
                    <ul class="list-unstyled my-4">
                        <li class=my-3> All Standard Features
                        </li>
                        <li class=my-3>
                            +
                        </li>
                        <li class=my-3>

                            GPS Tracking
                        </li>
                        <li class=my-3>
                            Onboarding

                        </li>
                        <li class=my-3>
                            Exit Management
                        </li>
                        <li class=my-3>
                            Advanced Analytics
                        </li>
                        <li class=my-3>
                            Multi Entity Management
                        </li>
                        <li class=my-3>
                            Mobile App
                        </li>
                    </ul><a href=/contact class="btn btn-outline-primary">Select Plan</a>
                </div>
            </div>
        </div>
    </div>
</section>