<section class="hero-area bg-cover" data-background=http://demo.themefisher.com/agico-hugo/images/background/banner.png>
    <div class=container>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 pl-lg-0 text-center text-lg-left">
                <h1 class="text-white position-relative" data-ddj=fade-up data-ddj-delay=1000>#1 Employee
                    Experience Platform
                    <span class=watermark>#1</span></h1>
                <p class="text-white pt-2 pb-3" data-ddj=fade-up data-ddj-delay=1200>HR, Payroll & Benefits for Remote
                    workforce!</p>
                <a href=/contact class="btn btn-primary" data-ddj=fade-up data-ddj-delay=1400>Get
                    Started</a>
            </div>
            <div class="col-lg-5 pl-lg-0 pt-5 pt-lg-0 text-lg-right text-center">
                <img src='public/images/banner/banner-1.png' class=img-fluid alt=illustration data-ddj=zoom-in
                    data-ddj-delay=1500></div>
        </div>
    </div>
</section>
<section class="section pb-0">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up>fetures</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>exclusive features</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=0>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-gears icon-lg icon-yellow icon-bg-square mb-5"></i>
                        <h4 class=mb-3>Employee Data Managment</h4>
                        <p>we will manage All employee data with our modren software</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=100>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="" srcset="">
                        <h4 class=mb-3>Time & Attendance</h4>
                        <p>Experience one of the most robust time and attendance management system with real-time
                            Biometric and GPS Integration</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-process-100.png" alt="payroll" srcset="">
                        <h4 class=mb-3>Payroll Processing</h4>
                        <p>Automated payroll solutions for growing SMEs and start-ups. Redefine your payroll, manage
                            employee benefits and operations with Onxcy's payroll automation services.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-tasks icon-lg icon-bg-square mb-5 icon-green"></i>
                        <h4 class=mb-3>Compliance</h4>
                        <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore
                            dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-target-100.png" alt="Hiring" srcset="">
                        <h4 class=mb-3>Hiring</h4>
                        <p> Make your recruitment process fast and easy through the use of our recruitment software.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-users icon-lg icon-bg-square mb-5 icon-purple"></i>
                        <h4 class=mb-3>Outsourcing Managment</h4>
                        <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore
                            dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="section pb-0">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <!-- <p class=subtitle data-ddj=fade-right>Talent Acquisition</p> -->
                <h2 class=section-title data-ddj=fade-right data-ddj-delay=200>Talent Acquisition</h2>
                <p class=mb-4 data-ddj=fade-right data-ddj-delay=300>From parsing resumes for contact information,
                    tracking applicants, to interview scheduling, make your recruitment process fast and easy through
                    the use of our recruitment software.
                </p>
                <ul data-ddj=fade-right data-ddj-delay=300>
                    <li>Customized recruitment flow</li><br>
                    <li>Automating time-consuming tasks</li><br>
                    <li>Passive candidate management</li><br>
                    <li>User-friendly and intuitive interface</li><br>
                    <li>Recruitment analytics dashboard and reporting</li><br>
                </ul>
                <!-- <a href=/about class="btn btn-outline-primary" data-ddj=fade-right data-ddj-delay=500>read
                    more</a> -->
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0"><img
                    src=public/images/service/recruitment-e.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
    </div>
</section>
<section class="section pb-0">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 text-center text-md-left mb-4 mb-md-0"><img
                    src=public/images/service/payroll-e.png class=img-fluid alt=about-image data-ddj=fade-right></div>
            <div class="col-lg-6 col-md-7 text-center text-md-left">
                <!-- <p class=subtitle data-ddj=fade-left>about onxcy</p> -->
                <h2 class=section-title data-ddj=fade-left data-ddj-delay=200>Payroll Management</h2>
                <p class=mb-4 data-ddj=fade-left data-ddj-delay=300>Automated payroll solutions for growing SMEs and
                    start-ups. Redefine your payroll, manage employee benefits and operations with Onxcy's payroll
                    automation services.</p>
                <ul>
                    <li>Reduce transactional HR work</li> <br>
                    <li>Benefits and reimbursements</li><br>
                    <li>Streamline payroll processing</li><br>
                    <li>Stay statutory compliant</li><br>
                    <li>Quick, flexible implementation</li><br>
                    <li>Access support anytime</li><br>
                </ul>
                <!-- <a href=about/index.html class="btn btn-outline-primary" data-ddj=fade-left data-ddj-delay=500>read
                    more</a> -->
            </div>
        </div>
    </div>
</section>
<section class="section bg-shape-triangles">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up>testimonial</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>What Our Clients Says?</h2>
            </div>
        </div>
        <div class="row testimonial-slider" data-ddj=fade-up data-ddj-delay=200>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
            <div class=col-lg-4>
                <div class="card px-4 py-5 border-0 rounded-lg shadow text-center card-border-bottom mb-5 mt-3">
                    <i class="fa fa-quote-right icon-quote mb-4 mx-auto text-primary"></i>
                    <p class=mb-4>Lorem ipsum dolor amet constur adipi sicing elit sed eiusmtempor incid dolore
                        magna aliqu. enim minim veniam quis nostrud exercittion.ullamco laboris nisi ut aliquip
                        excepteur sint occaecat cuida tat nonproident sunt in culpa qui officia deserunt mollit
                        anim
                        id est laborum. sed ut perspiciatis.</p>
                    <h4>Alice kelly</h4><span class=h6>Happy client</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section bg-triangles bg-gradient-primary">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <h2 class='section-title text-white' data-ddj=fade-up data-ddj-delay=200>Why Shift to Onxcy</h2>

                <p class='subtitle text-white' data-ddj=fade-up>
                    MODERN SOLUTIONS BUILT FOR NEW-AGE ORGANIZATIONS</p>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=0>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4">
                            <img src="public/Icons/icons8-notification-100.png" alt="Mobility in true Sense">
                        </div>
                        <div class="col-md-9">
                            <h4 class="mt-4 mb-3">Mobility in true Sense</h4>
                        </div>
                        <div class="col-12">
                            <p>Discover new ways to manage your employees with Web & Mobile App based cloud HRMS and
                                ESS
                                for
                                staying connected on the go!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=100>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4">
                            <img src="public/Icons/icons8-schedule-100.png" alt="Time and timesheet">
                        </div>
                        <div class="col-md-9">
                            <h4 class="mt-4 mb-3">Time and Timesheets</h4>

                        </div>
                        <div class="col-12">
                            <p>Get complete control onAttendance and Work at your organization. Configure Shifts
                                with Attendance hours and set Tasks with time stamps</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4">
                            <img src="public/Icons/icons8-survey-100.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <h4 class="mt-4 mb-3">Compliant Payroll Software
                            </h4>

                        </div>
                        <div class="col-12">
                            <p>Experience one of the most compliant payroll software with one of the easiest Salary
                                Structuring, Configuration and Salary Slip generation process, ever.</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=300>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4">
                            <img src="public/Icons/icons8-reset-100.png" alt="Automated and Automated">
                        </div>
                        <div class="col-6">
                            <h4 class="mt-4 mb-3">Automated Payouts</h4>

                        </div>
                        <div class="col-12">
                            <p>
                                Transfer Salaries directly to your employees’ bank accounts or UPI addresses at the
                                time of generating salary slips from Payroll Software itself.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=400>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4">
                            <img src="public/Icons/icons8-todo-list-100.png" alt="Advanced Analytics">

                        </div>
                        <div class="col-md-9">
                            <h4 class="mt-4 mb-3">Advanced Analytics</h4>

                        </div>
                        <div class="col-12">
                            <p>
                                With Onxcy online HR advanced analytics, make informed HR decisions with macro view
                                of your organization. Get to know your hiring trends, attrition trends, client vs
                                cost trend and more.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=500>
                <div class="card border-0 shadow rounded-xs ">
                    <div class='card-body row'>
                        <div class="col-md-3 mb-4">
                            <img src="public/Icons/icons8-todo-list-100.png" alt="Information Security">

                        </div>
                        <div class="col-md-9">
                            <h4 class="mt-4 mb-3">Information Security</h4>

                        </div>
                        <div class="col-12">
                            <p>Onxcy has earned ISO/IEC 27001:2013 certificate for all its products and services.
                                Our data is hosted over Amazon Web services, stored in highly secure, PCI DSS
                                compliant data centers.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="section section-lg-bottom">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center"></div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-ddj=fade-up data-ddj-delay=0>
                <div
                    class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
                    <span
                        class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Basic</span>
                    <div class="h1 text-dark">$49<span class="paragraph text-lowercase"> / month</span></div>
                    <h5 class="mb-4 font-weight-normal text-color">Best for small individuals</h5>
                    <hr>
                    <ul class="list-unstyled my-4">
                        <li class=my-3>Express Service</li>
                        <li class=my-3>Customs Clearance</li>
                        <li class=my-3>Time-Critical Services</li>
                    </ul><a href=# class="btn btn-outline-primary">Select Plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div
                    class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
                    <span
                        class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Professional</span>
                    <div class="h1 text-dark">$79<span class="paragraph text-lowercase"> / month</span></div>
                    <h5 class="mb-4 font-weight-normal text-color">Best for small individuals</h5>
                    <hr>
                    <ul class="list-unstyled my-4">
                        <li class=my-3>Express Service</li>
                        <li class=my-3>Customs Clearance</li>
                        <li class=my-3>Time-Critical Services</li>
                    </ul><a href=# class="btn btn-outline-primary">Select Plan</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-lg-0 mb-4" data-ddj=fade-up data-ddj-delay=400>
                <div
                    class="pricing-table position-relative text-center px-4 py-5 rounded-lg shadow transition bg-white">
                    <span
                        class="badge badge-pill badge-light font-weight-medium mb-3 py-2 px-4 text-primary">Business</span>
                    <div class="h1 text-dark">$99<span class="paragraph text-lowercase"> / month</span></div>
                    <h5 class="mb-4 font-weight-normal text-color">Best for small individuals</h5>
                    <hr>
                    <ul class="list-unstyled my-4">
                        <li class=my-3>Express Service</li>
                        <li class=my-3>Customs Clearance</li>
                        <li class=my-3>Time-Critical Services</li>
                    </ul><a href=# class="btn btn-outline-primary">Select Plan</a>
                </div>
            </div>
        </div>
    </div>
</section>