<section class="page-title page-title-overlay bg-cover"
    data-background=http://demo.themefisher.com/agico-hugo/images/background/about.jpg>
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">Our Service<span class=watermark-sm>Service</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href="/" class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>Our Service</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</section>
<section class=subscription>
    <div class=container>
        <div class=subscription-wrapper>
            <div
                class="d-flex position-relative mx-5 justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                <div class="row flex-fill justify-content-center">
                    <div class="col-md-2 col-6">
                        <a data-toggle="collapse" data-parent="" href="#collapse1" aria-expanded="false"
                            aria-controls="collapse1">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">HR Software</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6">
                        <a data-toggle="collapse" data-parent="" href="#collapse2" aria-expanded="false"
                            aria-controls="collapse2">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Payroll</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6">
                        <a data-toggle="collapse" data-parent="" href="#collapse3" aria-expanded="false"
                            aria-controls="collapse3">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Performance</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6">
                        <a data-toggle="collapse" data-parent="" href="#collapse4" aria-expanded="false"
                            aria-controls="collapse4">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Recruit</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6">
                        <a data-toggle="collapse" data-parent="" href="#collapse5" aria-expanded="false"
                            aria-controls="collapse5">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Timesheet</h6>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="collapse1" class="section  pb-0" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up>Service</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Hr Software</h2>
            </div>
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <div class="content">
                    <h5 id="responsibilities">Simple and Easy to Use HRMS for people who like to keep things simple.
                    </h5>
                    <ul>
                        <li>Centralized Organization Database</li>
                        <li>Custom Fields and Validations</li>
                        <li>Bulk Profile Updation</li>
                        <li>Unique Workflows</li>
                        <li>Multiple Organization Management</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                <img src=public/images/about/about-1.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
    </div>
</section>
<section id="collapse2" class="section collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
    </div>

</section>
<section id="collapse3" class="section collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
    </div>

</section>
<section id="collapse4" class="section collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
    </div>

</section>
<section id="collapse5" class="section collapse in" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla
        assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
        sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
        labore sustainable VHS.
    </div>

</section>

<section class="section"></section>