<section class="page-title page-title-overlay bg-cover"
    data-background=http://demo.themefisher.com/agico-hugo/images/background/about.jpg>
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">Our Service<span class=watermark-sm>Service</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href="/" class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>Our Service</li>
                    </ol>
                </nav>
            </div>

        </div>
    </div>
</section>
<section class=subscription>
    <div class=container>
        <div class=subscription-wrapper>
            <div
                class="d-flex position-relative mx-5 justify-content-between align-items-center flex-column flex-md-row text-center text-md-left">
                <div class="row flex-fill justify-content-center">
                    <div class="col-md-2 col-6 text-center">
                        <a class="services" data-parent="" href="#collapse1" aria-expanded="false"
                            aria-controls="collapse1">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">HR Software</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6 text-center">
                        <a class="services" data-parent="" href="#collapse2" aria-expanded="false"
                            aria-controls="collapse2">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Payroll</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6 text-center">
                        <a class="services" data-parent="" href="#collapse3" aria-expanded="false"
                            aria-controls="collapse3">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Performance</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6 text-center">
                        <a class="services" data-parent="" href="#collapse4" aria-expanded="false"
                            aria-controls="collapse4">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Recruit</h6>
                        </a>
                    </div>
                    <div class="col-md-2 col-6 text-center">
                        <a class="services" data-parent="" href="#collapse5" aria-expanded="false"
                            aria-controls="collapse5">
                            <img src="public/Icons/icons8-schedule-100.png" alt="">
                            <h6 class="text-white">Timesheet</h6>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="collapse1" class="section collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center mb-5">
            <div class="col-lg-12 text-center">
                <ul
                    class="navbar-nav navbar-expand-lg mx-auto nav nav-tabs d-flex position-relative mx-5 justify-content-between align-items-center">
                    <li><a class="active show p-2" data-toggle="tab" href="#corehr">Core HR</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#leave">Leave Management</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#time">Time & Attendance</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#policy">Policy Management</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#helpdesk">Employee Helpdesk</a></li>
                    <li><a class="p-2" data-toggle="tab" href="#ess">Employee Self Service [ESS]</a></li>
                </ul>
            </div>
            <div class="col-lg-12 tab-content">
                <div id="corehr" class="tab-pane fade show active">
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=0>Hr Software</h2>
                            <p class=subtitle data-ddj=fade-up data-ddj-delay=100>Service</p>
                        </div>
                        <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                            <div class="content" data-ddj=fade-right>
                                <h5 id="responsibilities">Simple and Easy to Use HRMS for people who like to keep things
                                    simple.
                                </h5><br>
                                <ul>
                                    <li>Centralized Organization Database</li><br>
                                    <li>Custom Fields and Validations</li><br>
                                    <li>Bulk Profile Updation</li><br>
                                    <li>Unique Workflows</li><br>
                                    <li>Multiple Organization Management</li><br>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                            <img src='public/images/service/hr-software.png' class=img-fluid alt=about-image
                                data-ddj=fade-left>
                        </div>

                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-12 text-center">
                            <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Custom Profile</h4>
                                    <p>Create Beautiful Custom Profiles for your team</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Documents Management</h4>
                                    <p>Upload Documents, Set up Reminders and more!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Centralized System</h4>
                                    <p>View your organization info in a single view</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Secure Logins</h4>
                                    <p>Always be in control of your company data</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Custom Workflows</h4>
                                    <p>Define your own workflows as you want</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Manage Team</h4>
                                    <p>Manage your team from your own dashboard</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Tasks</h4>
                                    <p>Assign Tasks and manage your workforce on the go</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                            <div class="card border-0 shadow rounded-xs pt-5">
                                <div class=card-body>
                                    <img src="public/Icons/icons8-schedule-100.png" alt="">
                                    <h4 class="mt-4 mb-3">Notifications</h4>
                                    <p>Make Announcements or set up notifications</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="leave" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="time" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
                <div id="policy" class="tab-pane fade">
                    <h3>Menu 1</h3>
                    <p>Some content in menu 1.</p>
                </div>
                <div id="helpdesk" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
                <div id="ess" class="tab-pane fade">
                    <h3>Menu 2</h3>
                    <p>Some content in menu 2.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="collapse2" class="section collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up>Service</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Payroll Software</h2>
            </div>
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <div class="content">
                    <h5>
                        Let’s make payroll pain a thing of the past
                    </h5><br>
                    <ul>
                        <li>Industry-specific Pay Schedule</li><br>
                        <li>One Click Remittance</li><br>
                        <li>Configure complex salary structures</li><br>
                        <li>Automateloans and advances</li><br>
                        <li>Process payroll with automated inputs</li><br>
                        <li>Generate statutory reports</li><br>
                        <li>Disburse salaries with ease</li><br>
                        <li>Streamline your payouts and payslips</li><br>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                <img src=public/images/service/payroll_software.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <h3 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h3>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Easy to Run</h4>
                        <p>
                            Pain free payroll processing in a span of time
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Single-Click Workflow</h4>
                        <p>Painless and Automated process for salary disbursements</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Statutory Reports</h4>
                        <p>Generate ESI, PF, ECR, Form 16, and IT returns</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Fully Configurable</h4>
                        <p>Get the automated payroll on your whims</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Role-Based Access</h4>
                        <p>Maintain the control on payroll according to user roles</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Seamless HR Data</h4>
                        <p>Auto sync of the HR data for Payroll salary processing</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Diverse Salary Structure</h4>
                        <p>Create multiple salary slabs for each employee</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Customizable Reports</h4>
                        <p>Generate standard and custom reports on everyday needs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="collapse3" class="section collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up> Do you manage the goals of your workforce or give employees the
                    driver’s seat?
                </p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Performance Management Software</h2>
            </div>
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <div class="content">
                    <h5 id="">
                        Easy-to-use software to track and review the performance of the employees.
                    </h5>
                    <ul>
                        <li>Set SMART goals and track the progress.</li><br>
                        <li>Easily- Navigable Dashboard</li><br>
                        <li>Performance Review Cycle</li><br>
                        <li>360 Degree and Peer Reviews</li><br>
                        <li>Customizable Review and Assessment</li><br>
                        <li>Goals and Performance Tracking</li><br>
                        <li>Development and Succession Planning</li><br>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                <img src=public/images/service/performance_dashboard.png class=img-fluid alt=about-image
                    data-ddj=fade-left>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Create Goals</h4>
                        <p>Create and assign the KRA, KPI & competencies.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Succession Planning</h4>
                        <p>Understand and improve behavioural dynamics observed on-the-job.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">360 Degree Reviews </h4>
                        <p>Collect 360 feedbacks anytime from managers, peers and customers. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Reward and Recognition</h4>
                        <p>Instant recognition and redeemable rewards for the employees.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Employee Engagement</h4>
                        <p>Helps you attract, engage, nurture and retain millennials.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Performance Appraisals</h4>
                        <p>Digitize and conduct periodic performance appraisals easily.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Performance Dashboard</h4>
                        <p>Get real-time actionable insight to drive employee performance.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Customizable Reports</h4>
                        <p>Generate standard and custom reports on everyday needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="collapse4" class="section collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Recruitment Management Software</h2>
                <p class=subtitle data-ddj=fade-up>Hire right candidate for the right job. Faster. Better.</p>
            </div>
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <div class="content">
                    <h5>Complete overview of your candidates’ status on your fingertips
                    </h5><br>
                    <ul>
                        <li>Workforce Planning</li><br>
                        <li>Job Posting Management</li><br>
                        <li>Requisition Management</li><br>
                        <li>Configurable Workflow</li><br>
                        <li>Candidate and Client activity tracking</li><br>
                        <li>Automatic Data and Email Capture</li><br>
                        <li>Remote Onboarding</li><br>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                <img src=public/images/service/ats_screen2.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">CV Screening</h4>
                        <p>Upload, parse, and search for resumes instantly</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Automatic Sourcing</h4>
                        <p>Source Candidates Automatically From Various Platforms</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Track Timeline</h4>
                        <p>Automated life cycle creation for Candidates</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Full Budget Control</h4>
                        <p>Requisition based hiring for Budgetedpositions</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="collapse5" class="section collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=100>Timesheets Software</h2>
                <p class=subtitle data-ddj=fade-up>Capture times spent on Jobs and Tasks Remotely!</p>
            </div>
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <div class="content">
                    <h5>Ready to use Remote Work software for employees to work from home
                    </h5><br>
                    <ul>
                        <li>Easy and robust Payroll Integration</li><br>
                        <li>Real-time budget tracking</li><br>
                        <li>Designated approval workflows</li><br>
                        <li>Integrated Mobile Attendance</li><br>
                        <li>Control Overtime on Projects</li><br>
                        <li>Audit and approve timesheets on the go!</li><br>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                <img src=public/images/service/onboarding.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Key Features</h2>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=0>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Remote Work</h4>
                        <p>
                            Track projects & timelines for remote employees
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=100>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Project Dashboard</h4>
                        <p>Easy-to-access visual data of ongoing projects</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=200>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Assign Rates to Clients</h4>
                        <p>Assign billable rates to clients to ensure fair pay</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=300>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Integrated Time Tracking </h4>
                        <p>Track working hours and allocate directly to projects</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=400>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3"> Integrated Task Management</h4>
                        <p>Sync Task Management for remote employees</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=500>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Automated Notifications</h4>
                        <p>Auto generated alerts on nearing budgeted time and Project plan</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=600>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">Integrated Collaboration </h4>
                        <p>Let your team collaborate and work; even as the work remote</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 mb-4 text-center" data-ddj=fade-up data-ddj-delay=700>
                <div class="card border-0 shadow rounded-xs pt-5">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="">
                        <h4 class="mt-4 mb-3">User Friendly Interface</h4>
                        <p>Friendly Interface so that team feels connectedwhile working remote</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    document.body.onload = function () {
        $('#collapse<%- index %>').addClass('show');
        $('.services').click(function () {
            $('.collapse').collapse('hide');
            setTimeout(() => {
                $($(this).attr('href')).collapse('show');
            }, 500);
        })
    }
</script>