<section class="page-title page-title-overlay bg-cover">
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">Our Service<span class=watermark-sm>Service</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href="/" class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>Our Service</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="bg-light section section-lg-bottom">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>exclusive features</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 py-auto" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-target-100.png" alt="Hiring" srcset="">
                        <h4 class=mb-3>Hiring</h4>
                        <p> Make your recruitment process fast and easy through the use of our recruitment software.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=0>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-gears icon-lg icon-yellow icon-bg-square mb-5"></i>
                        <h4 class=mb-3>Employee Data Managment</h4>
                        <p>we will manage All employee data with our modren software</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 " data-ddj=fade-up data-ddj-delay=100>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-schedule-100.png" alt="" srcset="">
                        <h4 class=mb-3>Time & Attendance</h4>
                        <p>Experience one of the most robust time and attendance management system with real-time
                            Biometric and GPS Integration</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <img src="public/Icons/icons8-process-100.png" alt="payroll" srcset="">
                        <h4 class=mb-3>Payroll Management</h4>
                        <br>
                        <p>Automated payroll solutions for growing large & medium scale industries as well as for SMEs
                            and start-ups. Redefine your payroll, manage employee benefits and operations with Onxcy's
                            payroll automation services.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-tasks icon-lg icon-bg-square mb-5 icon-green"></i>
                        <h4 class=mb-3>Compliance Management</h4>
                        <p>Ignorance is not an excuse. With the expansion of an organization, has made it difficult to
                            track, monitor & process compliance. Onxcy Compliance Management service landscape includes
                            an overall view of your compliances & acts as a risk mirror for your organization.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 py-auto" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-users icon-lg icon-bg-square mb-5 icon-purple"></i>
                        <h4 class=mb-3>Outsourcing Managment</h4>
                        <br>
                        <p> To gain competencies as dictated by the needs of your business. That will help your company
                            to alter speed as the pace of your senior management requirements but without the burden of
                            all the overhead costs.
                        </p>

                    </div>
                </div>
            </div>
        </div>
</section>

<section class="section pb-0">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <!-- <p class=subtitle data-ddj=fade-right>Talent Acquisition</p> -->
                <h2 class=section-title data-ddj=fade-right data-ddj-delay=200>Talent Acquisition</h2>
                <p class=mb-4 data-ddj=fade-right data-ddj-delay=300>From parsing resumes for contact information,
                    tracking applicants, to interview scheduling, make your recruitment process fast and easy through
                    the use of our recruitment software.
                </p>
                <ul data-ddj=fade-right data-ddj-delay=300>
                    <li>Customized recruitment flow</li><br>
                    <li>Automating time-consuming tasks</li><br>
                    <li>Passive candidate management</li><br>
                    <li>User-friendly and intuitive interface</li><br>
                    <li>Recruitment analytics dashboard and reporting</li><br>
                </ul>
                <!-- <a href=/about class="btn btn-outline-primary" data-ddj=fade-right data-ddj-delay=500>read
                    more</a> -->
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0"><img
                    src=public/images/service/recruitment-e.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
    </div>
</section>
<section class="section pb-0">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-5 text-center text-md-left mb-4 mb-md-0"><img
                    src=public/images/service/payroll-e.png class=img-fluid alt=about-image data-ddj=fade-right></div>
            <div class="col-lg-6 col-md-7 text-center text-md-left">
                <!-- <p class=subtitle data-ddj=fade-left>about onxcy</p> -->
                <h2 class=section-title data-ddj=fade-left data-ddj-delay=200>Payroll Management</h2>
                <p class=mb-4 data-ddj=fade-left data-ddj-delay=300>Automated payroll solutions for growing large &
                    medium scale industries as well as for SMEs & Start-ups. Redefine your payroll, manage employee
                    benefits and operations with Onxcy's payroll
                    automation services.</p>
                <ul>
                    <li>Reduce transactional HR work</li> <br>
                    <li>Benefits and reimbursements</li><br>
                    <li>Streamline payroll processing</li><br>
                    <li>Stay statutory compliant</li><br>
                    <li>Quick, flexible implementation</li><br>
                    <li>Access support anytime</li><br>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section  section-lg-bottom">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <!-- <p class=subtitle data-ddj=fade-right>Talent Acquisition</p> -->
                <h2 class=section-title data-ddj=fade-right data-ddj-delay=200> E-onboarding</h2>
                <p class=mb-4 data-ddj=fade-right data-ddj-delay=300>No more mind boggling paper works to worry about!
                    Onxcy HRMS lets your HR perform their task with delight.
                </p>
                <ul data-ddj=fade-right data-ddj-delay=300>
                    <li>Automated Offer letter & Appointment letter bases on approval</li><br>
                    <li>Automated process to fill all Forms as per company requirements</li><br>
                    <li>Multi-level approval</li><br>
                    <li>Can easily take print of all forms for your records purpose(if required)</li><br>
                </ul>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0"><img
                    src=public/images/service/esepration.png class=img-fluid alt=about-image data-ddj=fade-left>
            </div>
        </div>
    </div>
</section>
<section id="collapse5" class="section collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class=container>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-7 text-center text-md-left order-md-1 order-2">
                <div class="content">
                    <h5>Ready to use Remote Work software for employees to work from home
                    </h5><br>
                    <ul>
                        <li>Easy and robust Payroll Integration</li><br>
                        <li>Real-time budget tracking</li><br>
                        <li>Designated approval workflows</li><br>
                        <li>Integrated Mobile Attendance</li><br>
                        <li>Control Overtime on Projects</li><br>
                        <li>Audit and approve timesheets on the go!</li><br>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center text-md-left order-1 order-md-2 mb-4 mb-md-0">
                <img src='<%- base_url %>public/images/service/onboarding.png' class=img-fluid alt=about-image
                    data-ddj=fade-left>
            </div>
        </div>
    </div>
</section>