<section class="page-title page-title-overlay bg-cover">
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">Our Service<span class=watermark-sm>Service</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href="/" class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>Our Service</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="bg-light section section-lg-bottom">
    <div class=container>
        <div class=row>
            <div class="col-lg-12 text-center">
                <p class=subtitle data-ddj=fade-up>fetures</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>exclusive features</h2>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=0>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-gears icon-lg icon-yellow icon-bg-square mb-5"></i>
                        <h4 class=mb-3>Employee Data Managment</h4>
                        <p>we will manage All employee data with our modren software</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=100>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-clock-o icon-lg icon-primary icon-bg-square mb-5"></i>
                        <h4 class=mb-3>Time & Attendance</h4>
                        <p>Experience one of the most robust time and attendance management system with real-time
                            Biometric and GPS Integration</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-gg-circle icon-lg icon-cyan  icon-bg-square mb-5 "></i>
                        <h4 class=mb-3>Payroll Processing</h4>
                        <p>Automated payroll solutions for growing SMEs and start-ups. Redefine your payroll, manage
                            employee benefits and operations with Onxcy's payroll automation services.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-5">
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body><i class="fa fa-tasks icon-lg icon-bg-square mb-5 icon-green"></i>
                        <h4 class=mb-3>Compliance</h4>
                        <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore
                            dolore magna.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <i class="fa fa-search-plus icon-lg icon-bg-square mb-5 icon-red"></i>
                        <h4 class=mb-3>Hiring</h4>
                        <p> Make your recruitment process fast and easy through the use of our recruitment software.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0" data-ddj=fade-up data-ddj-delay=200>
                <div class="text-center shadow card py-3 border-0 rounded-sm">
                    <div class=card-body>
                        <i class="fa fa-users icon-lg icon-bg-square mb-5 icon-purple"></i>
                        <h4 class=mb-3>Outsourcing Managment</h4>
                        <p>Lorem ipsum dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore
                            dolore magna.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>