<section class="page-title page-title-overlay bg-cover"
    data-background=http://demo.themefisher.com/agico-hugo/images/background/about.jpg>
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">About Us<span class=watermark-sm>About</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href='/' class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=row>
            <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
                <div class=position-relative data-ddj=fade-right>
                    <img src=public/images/about/about-3.jpg class="img-fluid rounded-sm" alt=videoThumbBg>
                </div>
            </div>
            <div class="col-md-6 align-self-center pl-lg-4">
                <p class=subtitle data-ddj=fade-up>About Onxcy</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Our Mission</h2>
                <p data-ddj=fade-up data-ddj-delay=400>At Onxcy, our mission is to empower every business to achieve
                    more using our Products & Solutions. We believe in a cloud-first world, building solutions that
                    cover the entire spectrum of SaaS Solutions. We envisage driving the next technology revolution that
                    will enable our customers with right tools to excel in times to come.</p><a class="btn btn-primary"
                    href=/contact data-ddj=fade-up data-ddj-delay=600>Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="section bg-light">
    <div class=container>
        <div class=row>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=200>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Downloads per day</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=200>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Design awards</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=25000>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Totally satisfied users</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=80>0</span>+</p>
                <h6 class="text-dark font-weight-normal">People behind this app</h6>
            </div>
        </div>
    </div>
</section>
<section class='section '>
    <div class=container>
        <div class=row>
            <div class="col-md-6 align-self-center pl-lg-4">
                <p class=subtitle data-ddj=fade-up>About Onxcy</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=600>Our Values</h2>
                <p data-ddj=fade-up data-ddj-delay=800>Our values define who we are. At Onxcy, we strive hard to make a
                    measurable impact in the life of our customers with our services and solutions.These are fundamental
                    beliefs of our organization.
                <ul style="text-align: left;" data-ddj=fade-up data-ddj-delay=800>
                    <li>Values</li>
                    <li>Customer Centricity</li>
                    <li>Integrity Respect</li>
                    <li>Transparency</li>
                    <li>Professionalism</li>
                </ul>
                </p>
            </div>
            <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
                <div class=position-relative data-ddj=fade-left>
                    <img src=public/images/about/ourValues.png class="img-fluid rounded-sm" alt=videoThumbBg>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Why onxcy</h2>
                <p class=subtitle data-ddj=fade-up>TIME + VALUE OF MONEY= REDUCED COST + INCREASED BUSINESS EFFICIENCY
                </p>
            </div>
            <div class="col-lg-12">
                <div class="m-3">
                    <p data-ddj=fade-up>For businesses like yours, the use of proper HRMS software is important to
                        expedite the growth
                        process and eliminate the errors simultaneously.</p>
                    <p>Long before, HR was just considered as a paper based job where even today even the slightest
                        errors
                        can result in military manoeuvres. But with the benefits for employer, employees and customers
                        alike, HRMS can provide a whole new level of SMEs.</p>
                    <ul>
                        <li data-ddj=fade-up>
                            <h5><strong>Accelerate and simplify recruitment processes</strong></h5>
                        </li>
                        <p data-ddj=fade-up>Automate everyday HR processes with integrated solutions to facilitate the
                            staff in spending
                            more
                            time in issues that need personal intervention.</p>

                    </ul>
                    <ul>
                        <li data-ddj=fade-up>
                            <h5><strong>Address employee improvement</strong></h5>
                        </li>
                        <p data-ddj=fade-up>Keep the workforce live up to its full potential and ensure that the people
                            are best in the
                            job
                        </p>

                    </ul>
                    <ul>
                        <li data-ddj=fade-up>
                            <h5><strong>HRMS monitoring KPIs</strong></h5>
                        </li>
                        <p data-ddj=fade-up>In order to encourage employees and facilitate business growth, a well fed
                            business
                            intelligence
                            system could help in a great way.</p>

                    </ul>
                    <ul>
                        <li data-ddj=fade-up>
                            <h5><strong>Easy integration into HR systems</strong></h5>
                        </li>
                        <p data-ddj=fade-up>Modern solutions that are completely configurable and work as standalone
                            products that manage
                            every
                            aspect of employee lifecycles.</p>
                    </ul>
                    <ul>
                        <li data-ddj=fade-up>
                            <h5><strong>Automate daily workflow across the organization</strong></h5>
                        </li>
                        <p data-ddj=fade-up>A step by step workflow generated and monitored by HRMS systems reduce waste
                            of resources and
                            helps
                            in better usage of employee hours.</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>