<section class="page-title page-title-overlay bg-cover"
    data-background=http://demo.themefisher.com/agico-hugo/images/background/about.jpg>
    <div class=container>
        <div class=row>
            <div class=col-lg-7>
                <h1 class="text-white position-relative">About Us<span class=watermark-sm>About</span></h1>
                <p class="text-white pt-4 pb-4"></p>
            </div>
            <div class="col-lg-3 ml-auto align-self-end">
                <nav class="position-relative zindex-1" aria-label=breadcrumb>
                    <ol class="breadcrumb justify-content-end bg-transparent">
                        <li class=breadcrumb-item><a href='/' class=text-white>Home</a></li>
                        <li class="breadcrumb-item text-white" aria-current=page>About Us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class=section>
    <div class=container>
        <div class=row>
            <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
                <div class=position-relative data-ddj=fade-right>
                    <img src=public/images/about/about-3.jpg class="img-fluid rounded-sm" alt=videoThumbBg>
                </div>
            </div>
            <div class="col-md-6 align-self-center pl-lg-4">
                <p class=subtitle data-ddj=fade-up>About Onxcy</p>
                <h2 class=section-title data-ddj=fade-up data-ddj-delay=200>Our Mission</h2>
                <p data-ddj=fade-up data-ddj-delay=400>To build a vibrant organization that provides quality Integrated
                    plateform & manpower services and to creates opportunities for all to grow.</p><a
                    class="btn btn-primary" href=/contact data-ddj=fade-up data-ddj-delay=600>Contact Us</a>
            </div>
        </div>
    </div>
</section>
<section class="section section-lg-bottom bg-light">
    <div class=container>
        <div class=row>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=8000>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Downloads per day</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=200>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Design awards</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=25000>0</span>+</p>
                <h6 class="text-dark font-weight-normal">Totally satisfied users</h6>
            </div>
            <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
                <p class="h2 font-weight-light text-dark"><span class=counter data-count=80>0</span>+</p>
                <h6 class="text-dark font-weight-normal">People behind this app</h6>
            </div>
        </div>
    </div>
</section>